.comments-feed__comments-comment-list {
  padding: 15px 10px;

  .comments-feed__comments-comment-list__filter {
    position: relative;

    &::before {
      content: "🔍";
      position: absolute;
      width: 30px;
      height: 30px;
      z-index: 9;
    }

    input[type="text"] {
      width: calc(100% - 20px);
      display: block;
      margin-bottom: 10px;
      line-height: 21px;
      padding: 0 10px;
      font-size: 14px;
      position: relative;
      text-indent: 11px;

      &::placeholder {
        color: #c8c8c8;
      }
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }
}
